body{

  margin:0;
  font-family: sans-serif;
  background-color: #000000;

    @media (max-width: 360px) {
      text-align: center;
    };
    @media (max-width: 640px) {
      text-align: center;
     
    };

    @media (max-width: 767px) {
      text-align: center;
    };
    
    @media (max-width: 1920px) {
      background: "red";
    };


}